@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.header{
 background-color: var(--navBg);
}


.headerDiv{
    font-family: "Montserrat";
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0 auto;
    flex-direction: row;
    height: fit-content;
    width: 1300px;
}


.headerDiv img{
    height: 2.5rem;
}

.headerDiv .verticalLine{
    font-size: 2.5rem;
    font-weight: 100;
}

.navText{
    color: var(--navText);
    height: 80px;
}

.companyDescription{
    font-size: 14px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.navItems{
    color: var(--about);
    font-size: 14px;
    font-weight: 500;
}

.contactBtn{
    border: 1px solid var(--contact);
    padding: 8px 30px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 450;
}

.enquireBtn{
    border: 1px solid var(--navButtonBg);
    background-color: var(--navButtonBg);
    color: white;
    padding: 8px 30px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 450;
}