:root {
    --navBg: #fafafa;
    --navButtonBg: #FF6B2B;
    --port: #2489de;
    --enquire: #ffffff;
    --about: #2A2C33;
    --contact: #2C2F3D;
    --navText: #2A2C33;
    --heading:#393B3E;
    --title:#202632;
    --content:#161B26;
    --imgFlowBg: #262626;
    --hiddentube:#4A95DA;
  }
  

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900;1,wght@100..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Avenir:wght@300;400;600;700;1,400&display=swap');
  
  body {
      margin: 0;
  }