@font-face {
    font-family: 'Avenir';
    src: url('./fonts/AvenirLTStd-Medium.otf') format('truetype'); /* Adjust the path as necessary */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype'); /* Adjust the path as necessary */
    font-weight: normal;
    font-style: normal;
}

:root {
    --navBg: #fafafa;
    --navButtonBg: #FF6B2B;
    --port: #2489de;
    --enquire: #ffffff;
    --about: #2A2C33;
    --contact: #2C2F3D;
    --navText: #2A2C33;
    --heading: #393B3E;
    --title: #202632;
    --content: #161B26;
    --imgFlowBg: #262626;
    --hiddentube: #4A95DA;
}

body {
    margin: 0;
}